<div class="form">

    <h2 id="registration">Registration Form</h2>
    <form class="form-area" [formGroup]="form" (ngSubmit)="submitFun()">
        <label for="fname">First Name</label>
        <input type="text" id="fname" placeholder="Your first name.." formControlName="firstName">
        <!-- <div *ngIf="getControl('firstName')?.errors && getControl('firstName')?.touched">
            <small class="text-danger" *ngIf="getControl('firstName')?.errors?.['required']">First Name is
                required</small>
        </div> -->


        <label for="lname">Last Name</label>
        <input type="text" id="lname" formControlName="lastName" placeholder="Your last name..">

        <label for="age">Age</label>
        <input type="number" id="age" formControlName="age" placeholder="age here..">

        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="email here..">

        <label for="mobile">Mobile</label>
        <input type="text" id="mobile" formControlName="mobile" placeholder="mobile here..">
        <label for="gender">Gender:</label>
        <label for="male">Male
            <input type="radio" id="male" value="male" checked formControlName="gender">
        </label>
        <label for="female">Female
            <input type="radio" id="female" value="female" formControlName="gender">
        </label>
        <label for="others">Others
            <input type="radio" id="others" value="others" formControlName="gender">
        </label>

        <label for="country">Select your country:</label>
        <select id="country" formControlName="countries">
            <option value="india">India</option>
            <option value="usa">USA</option>
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="nepal">Nepal</option>
            <option value="bhutan">Bhutan</option>
            <option value="southafrica">South Africa</option>
            <option value="bng">Bangaladesh</option>
        </select>
        <br><br>
        <input type="submit" value="submit" id="btn">
    </form>

</div>